services:
  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    expose:
      - "3001"
    environment:
      - ACCESS_ID=${ACCESS_ID}
      - ACCESS_SECRET=${ACCESS_SECRET}
      - DEVICE_ID=${DEVICE_ID}
      - TUYA_REGION=${TUYA_REGION}
      - HOME_ID=${HOME_ID}
      - PORT=3001
