services:
  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - default
      - nginx-reverse-proxy_default

  backend:
    build: ./backend
    expose:
      - "3001"
    networks:
      - default
      - nginx-reverse-proxy_default
    environment:
      - ACCESS_ID=${ACCESS_ID}
      - ACCESS_SECRET=${ACCESS_SECRET}
      - DEVICE_ID=${DEVICE_ID}
      - TUYA_REGION=${TUYA_REGION}
      - HOME_ID=${HOME_ID}
      - PORT=3001
      - TZ=Asia/Jerusalem
    volumes:
      - /etc/localtime:/etc/localtime:ro

networks:
  nginx-reverse-proxy_default:
    external: true
